<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ershouche.mapper.SupplierMapper">
    
    <resultMap type="Supplier" id="SupplierResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="contactPerson"    column="contact_person"    />
        <result property="phone"    column="phone"    />
        <result property="type"    column="type"    />
        <result property="address"    column="address"    />
        <result property="email"    column="email"    />
        <result property="rating"    column="rating"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSupplierVo">
        select id, name, contact_person, phone, type, address, email, rating, create_time, update_time, remark from tb_supplier
    </sql>

    <select id="selectSupplierList" parameterType="Supplier" resultMap="SupplierResult">
        <include refid="selectSupplierVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="rating != null "> and rating = #{rating}</if>
        </where>
    </select>
    
    <select id="selectSupplierById" parameterType="Long" resultMap="SupplierResult">
        <include refid="selectSupplierVo"/>
        where id = #{id}
    </select>

    <insert id="insertSupplier" parameterType="Supplier" useGeneratedKeys="true" keyProperty="id">
        insert into tb_supplier
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="contactPerson != null">contact_person,</if>
            <if test="phone != null">phone,</if>
            <if test="type != null">type,</if>
            <if test="address != null">address,</if>
            <if test="email != null">email,</if>
            <if test="rating != null">rating,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="contactPerson != null">#{contactPerson},</if>
            <if test="phone != null">#{phone},</if>
            <if test="type != null">#{type},</if>
            <if test="address != null">#{address},</if>
            <if test="email != null">#{email},</if>
            <if test="rating != null">#{rating},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSupplier" parameterType="Supplier">
        update tb_supplier
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="contactPerson != null">contact_person = #{contactPerson},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="type != null">type = #{type},</if>
            <if test="address != null">address = #{address},</if>
            <if test="email != null">email = #{email},</if>
            <if test="rating != null">rating = #{rating},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSupplierById" parameterType="Long">
        delete from tb_supplier where id = #{id}
    </delete>

    <delete id="deleteSupplierByIds" parameterType="String">
        delete from tb_supplier where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>